body{
  font-family: "DejaVu Sans Condensed", serif;
}

.container{
  background-color: rgb(43, 49, 55);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.MuiButton-fullWidth{
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;
  background-color: rgba(0, 255, 0, 0.75);
}

.description-container{
  height: 100%;
}
