body{
  font-family: "DejaVu Sans Condensed", serif;
}

.container{
  background-color: rgb(43, 49, 55);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.justify-content-center{
  justify-content: center;
}

.MuiButton-fullWidth{
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;
  background-color: rgba(0, 255, 0, 0.75);
}

.description-container{
  height: 100%;
}


.margin-bottom-small{
  margin-bottom: 8px;
}


.margin-top-small{
  margin-bottom: 8px;
}

.grey-text{
  color: #888888;
}

.white-text{
  color: white;
}


.PhoneInputInput{
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #dddddd;
  border-radius: 4px;
  padding-left: 8px;
}

.PhoneInputCountryIcon--border{
  border: 1px solid #dddddd;
  border-radius: 2px;
}

.PhoneInputCountrySelectArrow{
  margin-right: 4px;
  margin-left: 4px;
}

.PhoneInputCountrySelect{
  background-color: white;
  color: #333333;
  font-family: "DejaVu Sans Condensed", serif;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #333333;
}

.font-weight-normal{
  font-weight: 400;
}
